:root {
    --color-cyan-600: #4D96A9;
    --color-cyan-300: #8FE3F9;

    --color-purple-600: #855FB1;
    --color-purple-300: #D9B8FF;

    --color-slate-900: #28283D;
    --color-slate-600: #87879D;
    --color-slate-300: #D1D1DF;

    --color-white: #FAFAFA;
}
body {
    font-family: "Red Hat Display", sans-serif;
    background-color: var(--color-white);
}
h1 {
    font-size: 4rem;
    line-height: 110%;
    font-weight: 900;
    color: var(--color-slate-900);
    text-align: center;
}
h2 {
    font-size: 2.5rem;
    line-height: 110%;
    font-weight: 900;
    text-align: center;
}
main h2 {
    color: var(--color-slate-900);
}
footer h2 {
    color: var(--color-white);
    text-align: left;
    width: 27.8125rem;
}
h3 {
    font-size: 1rem;
    line-height: 110%;
    font-weight: 900;
    letter-spacing: 0.25rem;
    color: var(--color-cyan-600);
    text-align: center;
    margin-top: 4rem;
}
p {
    font-size: 1.125rem;
    line-height: 110%;
    font-weight: 500;
    color: var(--color-slate-600);
    text-align: center;
}
footer p {
    color: var(--color-white);
    text-align: left;
    width: 22.1875rem;
    margin-right: 5.9375rem;
}
button,
.navigation-number,
header p{
    font-size: 1rem;
    line-height: 150%;
    font-weight: 900;
    color: var(--color-white);
}
header p {
    color: var(--color-slate-600);
    text-align: center;
    margin: 2rem 0;
}
header span {
    color: var(--color-cyan-300);
}
footer span {
    color: var(--color-purple-300);
}
.logo {
    margin: 80px auto 5.4375rem auto;
    width: 118px;
}
header {
    display: flex;
    justify-content: center;
    height: 22.5rem;
    position: relative;
    overflow: hidden;
}
header img {
    width: 24.625rem;
    height: 18.9375rem;
}
.image-hero-full {
    display: none;
}
.image-hero-left {
    position: absolute;
    top: 0;
    left: -25px;
}
.image-hero-right {
    position: absolute;
    bottom: 0;
    right: -25px;
}
.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28rem;
}
button {
    padding: 16px 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s;
}
.button-download {
    background-color: var(--color-cyan-600);
}
.button-download:hover {
     background-color: #71C0D4;
 }
.button-info {
    background-color: var(--color-purple-600);
    margin-left: 17px;
}
.button-info:hover,
footer button:hover {
    background-color: #B18BDD;
}
nav {
    margin: 7.5rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vertical-line {
    background-color: var(--color-slate-300);
    height: 80px;
    width: 1px;
}
.navigation-number {
    color: var(--color-slate-600);
    background-color: var(--color-white);
    border: 1px solid var(--color-slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery {
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem;
    grid-template-rows: 16rem;
    grid-gap: 2rem;
    justify-content: center;
}
.gallery img {
    height: 16rem;
}
section {
    width: 34rem;
}
section h2 {
    width: 27.8125rem;
    margin: 1rem auto 2rem auto;
}
.navigation-two {
    margin-top: 4.5rem;
    margin-bottom: -1.75rem;
}
footer {
    height: 19.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--color-cyan-600);
}
.bg-footer {
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
.bg-tablet,
.bg-mobile {
    display: none;
}
footer button {
    background-color: var(--color-purple-600);
}

@media only screen and (min-width: 768px) and (max-width: 1250px) {
    .image-hero-left,
    .image-hero-right {
        display: none;
    }
    .image-hero-full {
        display: block;
        position: relative;
        min-width: 51.25rem;
        width: 51.25rem;
        height: 18.9375rem;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 42.5rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 0.875rem;
    }
    p {
        font-size: 1rem;
        line-height: 150%;
    }
    .navigation-number,
    header p{
        font-weight: 500;
    }
    footer p {
        text-align: center;
        margin: 2rem 0;
        width: 31.5rem;
    }
    footer h2 {
        text-align: center;
        width: 100%;
    }
    .gallery {
        grid-template-columns: 10rem 10rem 10rem 10rem;
        grid-template-rows: 10rem;
    }
    .gallery img {
        height: 10rem;
    }
    footer {
        height: 20rem;
        flex-direction: column;
    }
    .bg-desktop {
        display: none;
    }
    .bg-tablet {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .logo {
        margin: 48px auto 64px auto;
        width: 118px;
    }
    .image-hero-left,
    .image-hero-right {
        display: none;
    }
    .image-hero-full {
        display: block;
        position: relative;
        min-width: 27.0625rem;
        width: 27.0625rem;
        height: 10rem;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 34rem;
    }
    h1 {
        font-size: 2.5rem;
        width: 18rem;
    }
    h2 {
        font-size: 2rem;
        width: 18rem;
    }
    section h2 {
        width: 19rem;
    }
    h3 {
        font-size: 0.875rem;
    }
    p {
        font-size: 1rem;
        line-height: 150%;
        width: 19rem;
        text-align: center;
    }
    button {
        display: block;
    }
    .button-download {
        margin-bottom: 1rem;
    }
    nav {
        margin: 4rem;
    }
    .navigation-number,
    header p{
        font-weight: 500;
    }
    footer p {
        text-align: center;
        margin: 2rem 0;
        width: 19rem;
    }
    footer h2 {
        text-align: center;
        width: 19rem;
    }
    .gallery {
        grid-template-columns: 9rem 9rem;
        grid-template-rows: 9rem 9rem;
        grid-gap: 1rem;
    }
    .gallery img {
        height: 9rem;
        border-radius: 0.5rem;
    }
    footer {
        height: 23.375rem;
        flex-direction: column;
    }
    .bg-tablet,
    .bg-desktop{
        display: none;
    }
    .bg-mobile {
        display: block;
    }
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-header {
        width: 100%;
    }
}